#belRiquadro {
    height: 70px;
    width: 70px;
    border: 1px solid blue;
    margin-top: 15px;
    font-size: 20px;
    /* posizionamento centrato del risultato */
    display: flex;
    justify-content: center;
    align-items: center;
}

#quadrato {
    height: 200px;
    width: 200px;
    background-color: red;
    margin: 20px;
}
