/*-----------------------------------------------------SEZIONE IMMAGINE-----------------------------------------------------*/
/* impostiamo l'immagine di sfondo della prima sezione */
#sezioneImmagine {
  height: 100vh;  /* altezza di tutta la pagina */
  background-image: url("./img/sfondo.jpg"); /* comando per impostare lo sfondo */
  background-repeat: no-repeat; /*immagine non si ripete*/
  background-size: cover; /* immagine grande tutto lo spazio che ha a disposizione*/
  /* proprietà per posizionare il titolo in mezzo */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----------------------------------------------------SEZIONE ACCORDION-----------------------------------------------------*/
/* imposto lo stile dell'accordion */
.accordion {
    width: 1000px;
    margin: 50px;
    background-color: bisque;
    padding: 45px;
}

/*mettere due classi una a fianco all'altra ne assegna la stessa proprietà*/
/* position relative serve a poter muovere i nostri elementi */
.accordion .contenitore {
    position: relative;
}
.accordion .etichetta {
    position: relative;
    cursor: pointer;
}
/* impostiamo la classe per nascondere il contenuto */
.accordion .contenuto {
    position:relative;
    height: 0; /*schiaccio la sezione*/
    overflow: hidden; /*nascondo la sezione*/
    transition: 0.5s;
}
/* imposto altezza con un valore quando si accende la classe active*/
.accordion .contenitore.active .contenuto {
    height: 200px;
} 

/*-----------------------------------------------------SEZIONE TRE COLONNE-----------------------------------------------------*/

/* imposto le dimensioni della sezione  */
#treColonne {
    height: 60vh;
    /* display flex serve a poter impostare più di una colonna  */
    display: flex;
    justify-content: space-between;
}

#colonna {
    /* imposto la larghezza come un terzo della pagina  */
    width: 33%;
    background-color: peachpuff;
}


/*-----------------------------------------------------SEZIONE CARD-----------------------------------------------------*/
#sezioneCard {
    height: 60vh;
    display: flex;
    justify-content: space-around;
}

#card {
    border: 2px solid rgb(198, 198, 198);
    width: 20%;
    /* aggiungo dello spazio che mi fa da margine  */
    padding: 15px;  
}

/* effetto all passaggio del mouse sopra  */
#card:hover {
    box-shadow: 3px 3px rgb(198, 198, 198);
}

#imgCard {
    background-image: url("./img/sfondo.jpg");
    width: 100%;
    height: 50%;
    background-repeat: no-repeat; /*immagine non si ripete*/
    background-size: cover; /* immagine grande tutto lo spazio che ha a disposizione*/
}

#testoCard {
    text-align: center; /*centro il testo*/
}

#btnCard {
    text-align: center; /*centro il botton*/
}

#bottoneCard {
    /* il primo indica top e bottom, il seconod indica dx e sx  */
    padding: 20px 70px;

}

