header {
    display: flex;
    justify-content: space-around;
    height: 5vh;/*imposto una altezza all'elemento*/
    align-items: center; /*allineo al centro*/
}

#bottone {
    background-color: black; /*colore di sfondo*/
    color: white; /*colore del testo*/
    padding: 15px 10px; /*primo numero è sopra e sotto, il secondo è per dx e sx*/
    border-radius: 5px; /*stondo gli spigoli*/
}

#bottone:hover {
    cursor: pointer;
}

#home {
    height: 70vh; /*imposto l'altezza della sezione*/
    display: flex;
    justify-content: center;
    align-items: center; /*centro tutto il contenuto*/
    text-align: center; /*allineo il testo al centro*/
}

#testi {
    width: 50%;
}

#sezioneDue {
    display: flex;
    justify-content: space-around;
}

#paragrafi {
    width: 50%;
}

#blocchetti {
    display: flex;
}

#blocco {
    width: 50%;
}
 
#elenchi {
    display: flex;
    padding: 40px;
}

#descrizione {
    width: 60%;
}

#elenco {
    width: 20%;
}

ul {
    list-style: none;
}

li {
    font-weight: bold;
    font-size: 20px;
}

#quartetto {
    display: flex;
    padding: 40px;
}

#quarti {
    width: 25%;
}